@use '../custom' as *;
@use '../components/mixins' as *;

.btn-rounded {
  @include media-breakpoint-down(sm) {
    position: relative;
    padding: 0.9375rem 4.375rem 0.9375rem 1.25rem;
    font-weight: 700;
    margin: 0;
    border: 0.1rem solid rgb($white, 0.6);
    background-color: $white;
  }
  position: relative;
  padding: 0.9375rem 4.3rem 0.9375rem 1.25rem;
  font-weight: 700;
  margin: 0;
  border: 0.1rem solid rgb($white, 0.6);
  background-color: $white;

  span {
    position: absolute;
    background-color: $primary;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;

    i {
      color: $white;
      font-size: 1rem;
      line-height: 2.5rem;
    }
  }

  &:hover {
    background-color: rgba($secondary, 0.6);
    color: $white;
    transition: 0.3s;

    span {
      background-color: rgba($primary, 0.6);
    }
  }

  a {
    text-decoration: none;
    color: $black;
  }
}

.btn-space {
  padding: 3rem;
}

.buttons {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

// BACK TO TOP
.back-to-top {
  @include gradient;
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 1.875rem;
  z-index: 2;
  transition: 0.3s;

  @include media-breakpoint-down(sm) {
    width: 2rem;
    height: 2rem;
  }

  i {
    color: $white;
    font-size: 1rem;
    @include absoluteCenter;

    @include media-breakpoint-down(sm) {
      font-size: 0.7rem;
    }
  }
}

.border-animation {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid rgba($primary, 0.5);
  animation: pulse-border 1.5s linear infinite;

  @include media-breakpoint-down(sm) {
    width: 2rem;
    height: 2rem;
  }

  &--border-1 {
    animation-delay: 1s;
  }
  &--border-2 {
    animation-delay: 1.5s;
  }
}

@keyframes pulse-border {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

// SOCIAL MEDIA BUTTONS
.btn-group-vertical {
  z-index: 999;
  margin-top: 10rem;

  @media (max-width: 991px) {
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
  }
}
/* For desktop: */
.row_social::after {
  content: '';
  clear: both;
  display: block;
}

[class*='col-3'] {
  float: left;
  padding: 15px;
}

.col-3 {
  width: 25%;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.social-media {
  height: 3rem;
  width: 3rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  border-radius: 50%;
  z-index: 99;

  i {
    font-size: 1.2rem;
  }

  &:hover {
    scale: 1.3;
    box-shadow: 2px 4px 5px rgb(0, 0, 0);
  }
}
