@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
  @include gradient;
  padding: 0.5rem;
  padding-left: 7rem;
  padding-right: 7rem;
  position: fixed;
  @media only screen and (min-width: 280px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media only screen and (min-width: 360px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media only screen and (min-width: 375px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media only screen and (min-width: 534px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media only screen and (min-width: 540px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @media only screen and (min-width: 768px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @media only screen and (min-width: 820px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @media only screen and (min-width: 1000px) {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  img {
    height: 3.2rem;

    @media only screen and (max-width: 280px) {
      display: none;
    }
    @media only screen and (min-width: 375px) {
      height: 3rem;
    }
  }

  .nav-item > a,
  .design {
    font-family: 'Righteous', sans-serif;
    font-size: 1.3rem;
    margin-right: 2rem;
    color: white !important;
    letter-spacing: 1px;

    @media only screen and (max-width: 884px) {
      text-align: center;
    }

    &:hover {
      display: block;
      transition: 0.8s;
      transform: scale(1.1);
      cursor: pointer;
      text-shadow: -1px 0 var(--text-nav), 0 1px var(--text-nav),
        1px 0 var(--text-nav), 0 -1px var(--text-nav),
        2px 5px 4px rgb(58, 50, 50);

      @media only screen and (max-width: 1199.98px) {
        display: block;
        transition: 0.8s;
        transform: scale(1.1);
      }
    }
  }

  .dropdown-item {
    font-family: 'Righteous', sans-serif;
  }
}

.modal-footer,
.form {
  button {
    &.submit {
      border: 1.2px solid white;
      background-color: var(--primary);
      &:hover {
        background-color: var(--primary-dark);
      }
    }
    &.reset {
      border: 1.2px solid white;
      background-color: var(--secondary);

      &:hover {
        background-color: var(--secondary-dark);
      }
    }
  }
}

// .bg-modal {
//   background-image: url(../../images/galaxy.jpg);
//   background-size: cover;
//   h5,
//   button {
//     font-family: 'Righteous', sans-serif;
//   }
// }

.form-control {
  background-color: rgb(255, 255, 255, 0.6) !important;
}

.modal-title {
  font-size: 3rem;
}

.btn-close-white {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
  filter: invert(1) grayscale(100%) brightness(200%);
}

.modal-header {
  &_1 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
  }
}
